.contact_container{
  background: var(--color-bg1);
  padding: 4rem;
  display: grid;
  grid-template-columns: 35% 65%;
  gap: 4rem;
  height: 30rem;
  margin: 7rem auto;
  border-radius: 1rem;
}

.contact_aside{
  background: var(--color-primary);
  padding: 3rem;
  border-radius: 1rem;
  position: relative;
  bottom: 8rem;
}

.aside_image{
  width: 12rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.contact_aside h2{
  text-align: left;
  margin-bottom: 1rem;
}

.contact_aside p{
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.contact_details li{
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.contact_socials{
  display: flex;
  gap: 0.8rem;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
}

.contact_socials a{
  background: var(--color-bg2);
  padding: .8rem;
  border-radius: 50%;
  font-size: 0.9rem;
}
.contact_socials i{
  font-size: 1.2rem;
}
.contact_socials i:hover{
  transform: translateY(-10px);
  scale: 1.5;
}

.contact_form{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-right: 4rem;
}

.form_name{
  display: flex;
  gap: 1.2rem;
}

.contact_form input[type="text"]{
  width: 50%;
}

.contact_form input , textarea{
  width: 100%;
  padding: 1rem;
  background: var(--color-bg);
  color: var(--color-white);
}

.contact_form .btn{
  cursor: pointer;
  width: max-content;
  margin-top: 1rem;
}

@media screen and (max-width:1024px) {
  .contact{
    margin-top: 2rem;
  }
  .contact_container{
    gap: 1.5rem;
    margin-top: 3rem;
    height: auto;
    padding: 1.5rem;
  }

  .contact_aside{
    width: auto;
    padding: 1.5rem;
    bottom: 0;
  }

  .contact_form{
    align-self: center;
    margin-right: 1.5rem;
  }
}

@media screen and (max-width:600px){
  .contact_container{
    grid-template-columns: 1fr;
    gap: 3rem;
    margin-top: 0;
    padding: .5rem;
    margin-bottom: 2rem;
  }

  .contact_form{
    margin: 0 1.5rem 3rem;
  }

  .form_name{
    flex-direction: column;
  }
  .form_name input[type='text']{
    width: 100%;
  }
}